.breadcrumbs {
  margin: 0 30px 0 0;
  list-style: none;
  padding: 0;
  li {
    float: left;
    position: relative;
    text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.21);
    &:not(:last-child):after {
      content: "/";
      padding: 0 8px;
      font-size: 30px;
      text-shadow: none;
    }
    &:hover {
      text-shadow: none;
    }
    a {
      font-size: 30px;
      color: #444;
      &:hover {
        color: $dark-orange;
      }
    }
    &.label {
      font-size: 30px;
      &:hover {
        text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.3);
      }
    }
  }
}
