.collapsible-toggle {
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
  @include transition(0.5s);
  z-index: 90;

  .chevrons {
    float: right;
    @include transition(transform 0.5s);
    i { margin: 0; }
  }

  &.collapsed {
    margin-bottom: 15px;
    color: #777;
    background-color: $background-color;
    border-color: darken($background-color, 9%);
    .chevrons {
      color: #999;
      transform: rotate(180deg);
    }
    + .collapsible-panel {
      border: none;
      margin-bottom: 0;
      overflow: hidden;
      + .splitter {
        display: none;
      }
    }
    &:hover {
      background-color: #fdfdfd;
      border-color: #e2e2e2;
      @include border-radius($border-radius);
      @include box-shadow(0 1.5px #dedede);
    }
  }

  + .collapsible-panel {
    @include transition(0.5s);
    margin-bottom: 20px;
    .panel-content {
      margin-top: -1px;
    }
  }
}

.collapsible-panel {
  .panel-content {
    padding: 15px;
    border: 1px solid $border-color;
    .metafields { margin-bottom: 0; }
  }
  .input-path {
    label { display: none; }
    textarea {
      margin-top: 0;
      margin-bottom: 0;
      padding: 11px;
      background: white;
      border: 1px solid $border-color;
      @include border-radius($border-radius);
    }
  }
  .tooltip-text {
    right: 0 !important;
    &:after {
      left: 90% !important;
      right: 5%;
    }
  }
}

.no-overflow {
  overflow: hidden;
}
