@import 'variables';

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  overflow-y: auto;
  min-height: 100%;
  background-color: #333;
  @media(max-width: 768px) {
    position: static;
    width: 100%;
    .menu-icon {
      display: block !important;
    }
  }
  .menu-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 15px;
    display: none;
    z-index: 100;
  }
  .logo {
    display: block;
    height: 75px;
    background: #222222 url(../assets/images/logo.png) no-repeat center;
    background-size: 110px 46px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }
  .routes {
    padding: 20px 0;
    list-style: none;
    .route-section {
      border: 1px solid;
      border-color: lighten($sidebar-color, 6%) lighten($sidebar-color, 3%) darken($sidebar-color, 7%) transparent;
      &:first-of-type {
        border-top: none;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    li {
      overflow-y: hidden;
      @include transition(max-height 0.5s);
      a {
        display: block;
        padding: 10px 20px;
        font-size: 17px;
        color: #beb9b1;
        &.active {
          color: $dark-orange;
        }
      }
      &:hover {
        background-color: lighten($sidebar-color, 3%);
      }

      ul {
        padding: 0;
        list-style: none;

        li {
          background: darken($sidebar-color, 3%);
          border-top: 1px solid lighten($sidebar-color, 2%);
          border-bottom: 1px solid darken($sidebar-color, 8%);
          &:last-of-type {
            border-bottom-color: transparent;
          }
          &:hover {
            background: darken($sidebar-color, 6%);
          }

          a { padding-left: 40px; }
        }
      }
    }
  }
}
