$sidebar-width: 220px;
$content-side-width: 260px;

$orange: #ffcc00;
$dark-orange: #ff9900;

$background-color: #fefefe;
$sidebar-color: #333;

$border-color: darken($background-color, 15%);
$border-color-focus: $orange;
$border-radius: 2px;
