@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'sidebar';
@import 'header';
@import 'content';
@import 'syntax-highlighting';

* {
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 { color: #292929; }
h3, h4, h5 {  margin: 20px 0 10px; }
h2 {
  margin-top: 45px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
  &:first-of-type {
    margin-top: 0;
  }
}

p { margin: 5px 0; }

ul {
  margin: 0;

  ul {
    padding-left: 24px;
    list-style: none;
  }
}

ol {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  li {
    padding-left: 8px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $dark-orange;
}

.wrapper {
  height: 100%;
}

.container {
  margin-left: $sidebar-width;
  @media(max-width: 768px) {
    margin: auto;
  }
}

.splitter {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #424242;
  border-top: 1px solid #212121;
}

.hidden {
  display: none;
}

.pull-right {
  margin-left: auto;
}

pre.highlight {
  padding: 8px 12px;
  code {
    padding: 0;
    color: #ffc;
    background-color: transparent;
  }
}
code {
  padding: 5px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85em;
  color: #b87614;
  word-wrap: break-word;
  background-color: darken($background-color, 3%);
  &.hljs {
    padding: 1em;
    font-size: 14px;
    line-height: 1.75;
  }
}
